@import "tailwindcss";
@plugin "daisyui";

body {
  @apply bg-[#0E010C];
}

/* Skills */

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}
